<h1>History</h1>

<div class="f-left">
	<ol class="breadcrumb breadcrumb_list">
		<li><a href="#/links"><span class="glyphicon glyphicon-home"></span></a></li>
		<li ng-repeat="b in tree.breadcrumb"><a href="#/links/{{b.id}}">{{b.name}}</a></li>
		<li class="active">{{tree.folder.name}}</li>
	</ol>
</div>
<div class="f-right">
	<button type="button" class="btn btn-default new_link" ng-click="addModal()">New link</button>
	<button type="button" class="btn btn-default" style="margin-right: 10px"><i class="fa fa-folder"></i></button>
	<button type="button" class="btn btn-default" disabled="disabled" style="margin-right: 10px"><i class="fa fa-arrows"></i></button>
	<div class="btn-group">
		<button type="button" class="btn btn-default" disabled="disabled"><span class="fa fa-copy"></span></button>
		<button type="button" class="btn btn-default" disabled="disabled"><span class="fa fa-pencil"></span></button>
		<button type="button" class="btn btn-default" disabled="disabled"><span class="fa fa-trash-o"></span></button>
	</div>
</div>
<div class="clear"></div>

<table class="table table-hover links">
	<thead>
		<tr>
			<th><input type="checkbox"></th>
			<th>Title</th>
			<th>Link</th>
			<th>Added</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="f in tree.folders" ng-click="redirect('/links/' + f.id, $event)">
			<td><input type="checkbox"></td>
			<td><i class="fa fa-folder"></i> {{f.name}}</td>
			<td></td>
			<td style="width: 100px">{{f.date * 1000 | date:'MM/dd/yyyy'}}</td>
		</tr>
		<tr ng-repeat="l in tree.links">
			<td><input type="checkbox"></td>
			<td><i class="fa fa-link"></i> ...</td>
			<td><a ng-href="{{l.url}}" target="_blank">{{l.url}}</a></td>
			<td style="width: 100px">{{l.date * 1000 | date:'MM/dd/yyyy'}}</td>
		</tr>
	</tbody>
</table>