<h1>Search</h1>

<form role="form" ng-submit="search()" id="search">
	<div class="input-group">
		<input type="text" class="form-control" ng-model="value" placeholder="Search...">
		<span class="input-group-btn">
			<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
		</span>
	</div>
</form><br />

<img src="images/loading.gif" style="display: block; margin: 0 auto 10px" ng-show="showLoading">

<table class="table links" ng-show="links.length > 0" id="search_links">
	<thead>
		<tr>
			<th>Title</th>
			<th>Link</th>
			<!-- <th>Folder</th> -->
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="l in links" ng-show="links != null" ng-click="redirect(l.url, $event)">
			<td><a ng-href="{{l.url}}" target="_blank">{{l.title | characters: 50}}</a></td>
			<td><a ng-href="{{l.url}}" target="_blank">{{l.url | characters: 70}}</a></td>
			<!-- <td><a target="_blank">{{l.name}}</a></td> -->
		</tr>
	</tbody>
</table>

<div ng-show="noResult" class="t-center">No result...</div>
