<div class="modal-header">
	<h3>Move link</h3>
</div>

<form class="form-horizontal" role="form" ng-submit="move()">
	<div class="modal-body">
		<div class="form-group">
			Coming soon...
			<!-- <label for="edit_link_url" class="col-sm-2 control-label">Link</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="edit_link_url" ng-model="link.url">
			</div> -->
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn" ng-click="cancel()">Cancel</button>
		<button class="btn submit">Move</button>
	</div>
</form>