<h1>Getting started</h1>

<p>1. Install the Chrome extension on your browser:</p>

<div class="t-center" style="margin: 40px 0 40px"><a type="button" class="btn btn-default submit start_button" ng-href="https://chrome.google.com/webstore/detail/websterday/ogbijdcloloakfnjjagfefnfcahodpna?hl=en&gl=FR" target="_blank">Download the Chrome Extension</a></div>

<hr>

<p>2. <a ng-href="#/create-account" target="_blank">Create an account</a></p>

<hr>

<p>3. Sign-up on the extension and let it save your history for later!</p>